.contactsHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.buttonsDiv {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
}

.backDiv {
    display: flex;
    justify-content: flex-end;
}

.addSmall {
    display: none;
}

@media only screen and (max-width: 768px) {
    .buttonsDiv {
        gap: 4px;
    }

    .addSmall {
        display: initial;
    }

    .addBig {
        display: none;
    }
}