.contactItem {
    width: 100%;
    justify-content: space-between;
    padding: 12px 0;
}

.contactItem:first-of-type {
    padding-top: 0;
}

.info {
    align-items: center;
    padding: 0px;
    gap: 16px;
}

.actionButtons {
    display: none;
}

.contactItem:hover .actionButtons, .actionButtons.actionButtonsVisible {
    display: flex;
    align-items: center;
    gap: 8px;
}