@font-face {
  font-family: 'glysa';
  src: url('../assets/fonts/Glysa.otf') format('opentype');
}

@font-face {
  font-family: 'lexend-deca';
  src: url('../assets/fonts/LexendDeca-VariableFont_wght.ttf') format('ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'lexend-deca';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1%;
}

h1 {
  font-family: 'glysa';
  font-size: 32px;
  font-weight: bolder;
  line-height: 48px;
  letter-spacing: 0%;
}

h2 {
  font-family: 'glysa';
  font-weight: bolder;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0%;
}

h3 {
  font-family: 'lexend-deca';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1%;
}

.message {
  font-family: 'lexend-deca';
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1%;
}